.order {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .order h3 {
    color: #333;
  }
  
  .order p {
    color: #666;
  }
  