/* components/General/Header/Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--theme-header-color);
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .backButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--accent-color);
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .profileInfo {
    display: flex;
    align-items: center;
  }
  
  .profilePic {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .userName {
    font-weight: bold;
    margin: 0;
  }
  
  .userEmail {
    font-size: 0.9em;
    color: var(--text-color-light);
  }
  