.sidebar {
  width: 200px;
  background-color: #1b1f23;
  border-right: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar li:hover {
  background-color: #e9ecef;
}

.addButton {
  color: #38979e;
  cursor: pointer;
  transition: color 0.3s;
}

.addButton:hover {
  color: #00cc00;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  margin-top: 0;
}

.modal label {
  display: block;
  margin-bottom: 10px;
}

.modal input[type="text"],
.modal input[type="color"] {
  width: calc(100% - 20px);
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #38979e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal button:hover {
  background-color: #00cc00;
}
