.tableContainer {
  margin: 20px;
  overflow-y: auto;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto;
  background-color: #ffffff;
}

.tableContainer th, .tableContainer td {
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: left;
}

.tableContainer th {
  cursor: pointer;
  position: relative;
  padding-right: 20px;
  background-color: #f1f1f1;
}

.tableContainer th:hover {
  background-color: #e2e6ea;
}

.subColumn {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-top: 10px;
}

.expandButton {
  margin-top: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
}

.expandButton:hover {
  background-color: #0056b3;
}

.stageTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.stageTable th, .stageTable td {
  border: 1px solid #dddddd;
  padding: 8px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
}
