.appContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.storiesContainer {
  flex: 0 0 auto;
  width: 100%;
  overflow-x: auto;
  padding: 10px;
  background-color: var(--theme-color-darker);
  border-bottom: 1px solid var(--theme-color-lighter);
}

.content {
  flex: 1;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
