.browsingHistory {
  background-color: var(--theme-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  color: var(--text-color);
  margin-bottom: 20px;
}

.browsingHistory h3 {
  color: var(--text-color);
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
