.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--theme-color);
    color: var(--text-color);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .logo {
    flex: 1;
  }
  
  .nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navItem {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s;
  }
  
  .navItem:hover {
    color: var(--accent-color);
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    max-width: 500px;
  }
  
  .searchBar {
    width: 100%;
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color-lighter);
    padding: 5px 10px;
    color: var(--text-color);
    border-radius: 5px;
  }
  
  .searchIcon {
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .searchIcon:hover {
    color: var(--accent-color);
  }
  
  .userMenu {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--theme-color-lighter);
    color: var(--text-color);
    border: 1px solid var(--theme-color-lighter);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .dropdownMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdownMenu li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .dropdownMenu li:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .cart {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .icon {
    color: var(--accent-color);
  }
  