/* ProfileImage.module.css */
.profileImage {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image {
    border-radius: 50%;
  }
  