
.postContainer {
  padding: 20px;
  background-color: var(--theme-header-color);
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.postTitle {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: var(--theme-primary-color);
  font-weight: bold;
  text-align: center;
}

.postAuthor {
  font-size: 1rem;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.repliesContainer {
  margin-top: 30px;
}

.reply {
  background-color: #333;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  color: black;
}

.reply:hover {
  background-color: #444;
}

.textarea {
  width: 100%;
  height: 120px;
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #555;
  background-color: var(--theme-background-color);
  color: black;
  resize: vertical;
  font-size: 1rem;
}

.button {
  margin-top: 15px;
  padding: 12px 25px;
  background-color: var(--theme-primary-color);
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1rem;
}

.button:hover {
  background-color: var(--theme-secondary-color);
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .postContainer {
    padding: 15px;
    margin: 15px;
  }

  .postTitle {
    font-size: 2rem;
  }

  .textarea {
    height: 100px;
  }

  .button {
    padding: 10px 20px;
  }
}
