.userInputWindow {
  position: absolute;
  bottom: 50px;
  background-color: #333333;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeButton {
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.fileInput {
  margin-top: 10px;
}
