.background {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(135deg, #002b36, #073642);
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  position: fixed; /* Covers the whole viewport */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; /* Stays behind all other elements */
}

.neonText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-align: center;
  animation: glow 1.5s infinite alternate;
  z-index: 1; /* Ensures text is behind the logo */
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00, 0 0 30px #00FF00, 0 0 40px #00FF00, 0 0 50px #00FF00, 0 0 60px #00FF00, 0 0 70px #00FF00;
  }
  to {
    text-shadow: 0 0 20px #00FFFF, 0 0 30px #00FFFF, 0 0 40px #00FFFF, 0 0 50px #00FFFF, 0 0 60px #00FFFF, 0 0 70px #00FFFF, 0 0 80px #00FFFF;
  }
}

.organicShape {
  position: absolute;
  background: radial-gradient(circle, rgba(0,255,255,0.8), rgba(0,255,0,0.4));
  border-radius: 50%;
  filter: blur(10px);
  animation: move 16s infinite alternate;
  left: 80%;
  bottom: -10%;
}



.shape1 {
  width: 100px;
  height: 100px;
  animation-duration: 6s;
  filter: blur(8px);
}

.shape2 {
  width: 150px;
  height: 150px;
  animation-duration: 10s;
  filter: blur(15px);
}

.shape3 {
  width: 200px;
  height: 200px;
  animation-duration: 12s;
  filter: blur(20px);
}

.shape4 {
  width: 250px;
  height: 250px;
  animation-duration: 14s;
  filter: blur(25px);
}

.shape5 {
  width: 120px;
  height: 120px;
  animation-duration: 8s;
  filter: blur(10px);
}

.shape6 {
  width: 180px;
  height: 180px;
  animation-duration: 11s;
  filter: blur(18px);
}

.shape7 {
  width: 220px;
  height: 220px;
  animation-duration: 13s;
  filter: blur(22px);
}

.shape8 {
  width: 140px;
  height: 140px;
  animation-duration: 9s;
  filter: blur(12px);
}

@keyframes move {
  0%, 25%, 50%, 75%, 100% {
    transform: translate(0, 0);
  }
  6.25%, 31.25%, 56.25%, 81.25% {
    transform: translate(50px, 50px);
  }
  12.5%, 37.5%, 62.5%, 87.5% {
    transform: translate(-50px, -50px);
  }
  18.75%, 43.75%, 68.75%, 93.75% {
    transform: translate(100px, -200px);
  }
}

.logoContainer {
  position: absolute;
  top: 40%;
  left: 50%; /* Centered horizontally */
  transform: translate(-50%, -50%);
  animation: moveLogo 4s infinite alternate; /* Faster movement */
  z-index: 2; /* Ensures logo is above the text */
}

@keyframes moveLogo {
  0%, 100% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
  25% {
    transform: translate(-20%, -50%) translate(40px, -40px); /* Faster and more dynamic */
  }
  50% {
    transform: translate(-50%, -20%) translate(-40px, 40px); /* Faster and more dynamic */
  }
  75% {
    transform: translate(-50%, -50%) translate(40px, 40px); /* Faster and more dynamic */
  }
}

.logoImage {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 0 10px #00FFFF);
}
