.tvPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: var(--theme-color-darker);
}

.header {
  background-color: var(--theme-color-lighter);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid var(--theme-color-lighter);
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navItem {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s;
}

.navItem:hover {
  color: var(--accent-color);
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchBar {
  background-color: var(--theme-color);
  border: 1px solid var(--theme-color-lighter);
  padding: 5px 10px;
  color: var(--text-color);
  border-radius: 5px;
}

.searchIcon {
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.searchIcon:hover {
  color: var(--accent-color);
}

.bellIcon, .profileIcon {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.3s;
}

.bellIcon:hover, .profileIcon:hover {
  color: var(--accent-color);
}

.content {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.trailer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme-color-lighter);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.trailerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.trailerInfo h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.description {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

.trailerActions {
  display: flex;
  gap: 10px;
}

.playIcon, .infoIcon {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.3s;
}

.playIcon:hover, .infoIcon:hover {
  color: var(--accent-color);
}

.trailerVideo {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.continueWatching, .news, .movies, .tvShows {
  margin-bottom: 20px;
}

.scrollableList {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.scrollableList::-webkit-scrollbar {
  height: 8px;
}

.scrollableList::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 10px;
}

.scrollableList::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color-lighter);
}
